.board_outer{
    width: 100%;
    overflow-x: auto;
   flex: 1;
   min-height: 100vh;
 }
 
 
 .board{
    margin: 1rem;
     min-width:fit-content;
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     gap:1rem;
     max-height: fit-content;
    
     
 }
 